<?xml version="1.0" encoding="UTF-8"?>

<module version="1.0">
  <id>4434</id>
  <name>war</name>
  <package>org.giiwa.war.web</package>
  <screenshot>/images/demo_screenshot.png</screenshot>
  <version>1.0</version>
  <build>0</build>
  <enabled>true</enabled>
  <readme>war management module</readme>
  <listener>
    <!--add module listener here, please refer IListener interface-->
    <class>org.giiwa.war.web.WarListener</class>
  </listener>
  <required>
    <!--add all required modules here-->
    <module name="default" minversion="1.2.1611150948" maxversion="1.2.*"/>
  </required>
  <license>Apache License V2</license>
</module>
